@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
}


.header-container .navbar{
	background-color: white;
    border-color: white;
    box-shadow: 0px 4px 4px #e6e1e1;
}

.header-container .navbar-inverse{
	background-color: white;
    border-color: white;
}

.header-container .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	color: white;
	border-bottom: 3px solid #c00;
}

.header-container .navbar-inverse .navbar-nav>li>a{
	color: black;
}

.header-container .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	background-color: black;
	border-bottom: 3px solid #c00;
}

.header-container .navbar-inverse .navbar-brand{
	color: #9d9d9d;
}

.header-container .navbar-inverse .navbar-brand:hover{
	color: #c00;
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown > li ul > li > a:hover,
.mega-dropdown > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown ul {
	left:initial;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}